/* стили через бутстрап, тут стараемся по-минимуму прописывать
 */

.btn {
  margin-right: 10px;
}
.cards--container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.footer {
  width: 100%;
}
.modal {
  background-color: rgba(62, 60, 60, 0.36);
}
.logo {
  width: 70px;
  height: 70px;
}
.no_items {
  text-align: center;
}
.cards--container {
  max-width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.card {
  max-width: 20%;
}
.list-group-item {
  min-height: 25px;
}
.btn-success {
  max-width: 50%;
  margin-left: 25%;
}
.btn-secondary {
  max-width: 50%;
}
.btn-danger {
  max-width: 50%;
}
.hidden {
  display: none;
}
.shown {
  display: block;
}
